<%- include('partials/header', { seoMetaTags: seoMetaTags }) %>

<article class="sheet">
  <div class="sheet__inner">
    <h1 class="sheet__title"><%= title %></h1>
    <p class="sheet__lead"><%= excerpt %></p>
    <div class="sheet__slider">
      <div class="slider js_slider">
        <div class="slider__frame js_frame">
          <ul class="slider__slides js_slides">
            <% extraImages.forEach(image => { %>
              <li class="slider__slide js_slide">
                <img src="<%= image %>">
              </li>
            <% }) %>
          </ul>
        </div>
        <span class="slider__prev js_prev"></span>
        <span class="slider__next js_next"></span>
      </div>
    </div>
    <div class="sheet__body">
      <%- contents %>
    </div>
    <div class="sheet__gallery">
      <img src="<%= detailImage %>" />
    </div>
  </div>
</article>

<%- include('partials/footer') %>
